<title>Admin</title>
</head>
<body>
    <div class="ui middle aligned center aligned container">
        <hr>
        <div class="ui piled segment">
            <h4>Admin Page</h4>
        </div>
    </div>
</body>