<title>Admin Settings</title>
</head>

<body>
    <div class="ui middle aligned center aligned container">
        <hr>
        <div class="ui piled segment">
            <div class="ui message">
                <h2 class="ui header">
                    <i class="language icon"></i>
                    <div class="content">
                        <b>Languages</b>
                    </div>
                </h2>
            </div>
            <div class="ui container">
                <div class="ui icon menu" id="you can remove, compact, labeled">
                    <div class="item">
                        <a href="/"><i class="home icon"></i>Home</a>
                    </div>
                    <div class="item active">
                        <a href=""><i class="language icon"></i>Languages</a>
                    </div>
                    <div class="item">
                        <a href="/admin"><i class="users icon"></i>Names</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="ui tall stacked segment">
            <h3><u><b>List of all languages available.</b></u></h3>
            <div class="ui container">
                <div class="ui relaxed horizontal list">
                    {{#each languages}}
                    <div class="item">
                        <div class="content">
                            <div class="header"><i class="{{this.flag}} flag"></i> {{this.language}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>


