hr {
  clear: both;
  visibility: hidden;
}

#display {
  text-transform: capitalize;
}

p {
  color: black;
  /* font-family: 'Nanum Gothic', sans-serif; */
}

#dropdown {
  color: rgb(44, 154, 182);
  /* font-family: 'Playfair Display', serif; */
}

b {
  color: rgb(21, 67, 128);
  color: rgb(39, 26, 39);
  /* font-family: 'Playfair Display', serif; */
}

.ui.piled.segment {
  background: #00ffff4a;
  background: linear-gradient(
    to bottom right,
    #00ffff94,
    #ffd700b8
  ); /* Standard syntax (must be last) */
}

.ui.message {
  background: #01f5cc7a;
  background: linear-gradient(
    to bottom right,
    #01f5cc7a,
    #01f5cc4f
  ); /* Standard syntax (must be last) */
}
body {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(
    to bottom right,
    #239bca91,
    #ffff0069
  ); /* Standard syntax (must be last) */

  /* font-family: 'Lora', serif; */
}

.ui.table thead th {
  background: #01d9f5e8;
}

.ui.unstackable.table {
  background: #01f5cc7a;
  background: linear-gradient(
    to bottom right,
    #01f5cc7a,
    #01f5cc4f
  );
} 
#madume {
  font-size: 1.2em;
}

a {
  color: black;
  color: darkblue;
}

a:hover {
  color: rgba(255, 0, 191, 0.664);
}

.ui.icon.menu {
  background: #00ffff;
  background: linear-gradient(
    to bottom right,
    #f7f7f7,
    #dad3f3
  ); /* Standard syntax (must be last) */
}

.ui.tall.stacked.segment {
  background: #6ee7e7;
}

/* FONTS AVAILABLE
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'PT Serif', serif;
font-family: 'Poor Story', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Peddana', serif;
font-family: 'EB Garamond', serif; 
*/
